<% provide :title, t("About") %>
<h1><%= t "About" %></h1>
<p>
  <%= t "The" %> <a href="https://www.railstutorial.org/"><em><%= t :tutorial_link %>
  </em></a> <%= t "is a" %>
  <a href="https://www.railstutorial.org/book"><%= t :book %></a> <%= t "and" %>
  <a href="http://screencasts.railstutorial.org/"><%= t "screencast series" %></a>
  <%= t "to teach web development with" %>
  <a href="http://rubyonrails.org/"><%= t :rails %></a>
  <%= t "This is the sample application for the tutorial" %>
</p>
