<% provide :title, t("Help") %>
<h1><%= t "Help" %></h1>
<p>
  <%= t "Get help on the Ruby on Rails Tutorial at the" %>
  <a href="https://www.railstutorial.org/help"><%= t :help_section %></a>
  <%= t "To get help on this sample app, see the" %>
  <a href="https://www.railstutorial.org/book"><em><%= t :tutorial_link %></em>
  <%= t :book%></a>.
</p>
