<footer class="footer">
  <small>
    <%= t "layouts._footer.the" %><a href="https://www.railstutorial.org/"><%= t "layouts._footer.ruby_on_rails_tutorial" %></a>
    <%= t "layouts._footer.by" %><a href="http://www.michaelhartl.com/"><%= t"layouts._footer.michael_hartl"%></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("layouts._footer.about"), about_path %></li>
      <li><%= link_to t("layouts._footer.contact"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t "layouts._footer.news"%></a></li>
    </ul>
  </nav>
</footer>
